################################################################
## To run this pipeline                                       ##
## cd path/to/RYGB_IntegratedAnalysis2020/Analysis            ##
## biolockj -d RYGB_IntegratedAnalysis.config                 ##
################################################################

genMod.launcher=Rscript
pipeline.inputTypes=other
pipeline.copyInput=Y

pipeline.defaultProps=./docker_RYGB.properties
Rfunc=../Analysis/RScripts/functions.R
input.dirPaths=../input
input.allowDuplicateNames=Y

#BioModule biolockj.module.diy.GenMod AS AfsharTaxaClass
AfsharTaxaClass.scriptPath=./RScripts/16S_TaxaClassification/Afshar_16S_TaxaClassification.R
AfsharTaxaClass.resources=${Rfunc}

#BioModule biolockj.module.diy.GenMod AS AssalTaxaClass
AssalTaxaClass.scriptPath=./RScripts/16S_TaxaClassification/Assal_16S_TaxaClassification.R
AssalTaxaClass.resources=${Rfunc}

#BioModule biolockj.module.diy.GenMod AS BSTaxaClass
BSTaxaClass.scriptPath=./RScripts/16S_TaxaClassification/BS_16S_TaxaClassification.R
BSTaxaClass.resources=${Rfunc}

#BioModule biolockj.module.diy.GenMod AS IlhanTaxaClass
IlhanTaxaClass.scriptPath=./RScripts/16S_TaxaClassification/Ilhan_16S_TaxaClassification.R
IlhanTaxaClass.resources=${Rfunc}

#BioModule biolockj.module.diy.GenMod AS CombineCountTableslog10
CombineCountTableslog10.scriptPath=./RScripts/combineCountTables.R
CombineCountTableslog10.resources=${Rfunc} 
CombineCountTableslog10.param=log10

#BioModule biolockj.module.diy.GenMod AS CombineCountTablesrelab
CombineCountTablesrelab.scriptPath=./RScripts/combineCountTables.R
CombineCountTablesrelab.resources=${Rfunc} 
CombineCountTablesrelab.param=relab

#BioModule biolockj.module.diy.GenMod AS PCO
PCO.scriptPath=./RScripts/pco.R
PCO.resources=${Rfunc}

#BioModule biolockj.module.diy.GenMod AS AfsharDADA
AfsharDADA.scriptPath=./RScripts/DADA2_16S/Afshar_DADA2_16S.R

#BioModule biolockj.module.diy.GenMod AS AssalDADA
AssalDADA.scriptPath=./RScripts/DADA2_16S/Assal_DADA2_16S.R

#BioModule biolockj.module.diy.GenMod AS BSDADA
BSDADA.scriptPath=./RScripts/DADA2_16S/BS_DADA2_16S.R

#BioModule biolockj.module.diy.GenMod AS IlhanDADA
IlhanDADA.scriptPath=./RScripts/DADA2_16S/Ilhan_DADA2_16S.R

#BioModule biolockj.module.diy.GenMod AS CompareStudies16S
CompareStudies16S.scriptPath=./RScripts/compareStudies/compareStudies_16S.R
CompareStudies16S.resources=${Rfunc}

#BioModule biolockj.module.diy.GenMod AS Heatmap
Heatmap.scriptPath=./RScripts/Heatmap.R
Heatmap.resources=${Rfunc}

#BioModule biolockj.module.diy.GenMod AS AfsharKraken
AfsharKraken.scriptPath=./RScripts/kraken2_16S/Afshar_kraken2_16S.R

#BioModule biolockj.module.diy.GenMod AS AssalKraken
AssalKraken.scriptPath=./RScripts/kraken2_16S/Assal_kraken2_16S.R

#BioModule biolockj.module.diy.GenMod AS BSKraken
BSKraken.scriptPath=./RScripts/kraken2_16S/BS_kraken2_16S.R

#BioModule biolockj.module.diy.GenMod AS IlhanKraken
IlhanKraken.scriptPath=./RScripts/kraken2_16S/Ilhan_kraken2_16S.R

#BioModule biolockj.module.diy.GenMod AS BSMetagenomics
BSMetagenomics.scriptPath=./RScripts/kraken2_Metagenomics/BS_kraken2_Metagenomics.R

#BioModule biolockj.module.diy.GenMod AS PallejaMetagenomics
PallejaMetagenomics.scriptPath=./RScripts/kraken2_Metagenomics/Palleja_kraken2_Metagenomics.R

#BioModule biolockj.module.diy.GenMod AS OppPathogens
OppPathogens.scriptPath=./RScripts/OpportunisticPathogens.R

#BioModule biolockj.module.diy.GenMod AS CompareStudiesMetagenomics
CompareStudiesMetagenomics.scriptPath=./RScripts/compareStudies/compareStudies_Metagenomics.R
CompareStudiesMetagenomics.resources=${Rfunc}

#BioModule biolockj.module.diy.GenMod AS BSpathway
BSpathway.scriptPath=./RScripts/pathway/BS_pathway.R

#BioModule biolockj.module.diy.GenMod AS Pallejapathway
Pallejapathway.scriptPath=./RScripts/pathway/Palleja_pathway.R

#BioModule biolockj.module.diy.GenMod AS CompareStudiesPathways
CompareStudiesPathways.scriptPath=./RScripts/compareStudies/compareStudies_pathways.R
CompareStudiesPathways.resources=${Rfunc}

#BioModule biolockj.module.diy.GenMod AS Diversity
Diversity.scriptPath=./RScripts/Diversity.R

#BioModule biolockj.module.diy.GenMod AS CompareStudiesSV
CompareStudiesSV.scriptPath=./RScripts/compareStudies/compareStudies_SV.R
CompareStudiesSV.resources=${Rfunc}

#BioModule biolockj.module.diy.GenMod AS SVAnalysis
SVAnalysis.scriptPath=./RScripts/SequenceVariantAnalysis.R
SVAnalysis.resources=${Rfunc}

#BioModule biolockj.module.diy.GenMod AS TrainModellasso
TrainModellasso.scriptPath=./RScripts/train_model.R
TrainModellasso.param=lasso

#BioModule biolockj.module.diy.GenMod AS FigPerformlasso
FigPerformlasso.scriptPath=./RScripts/Figure_performance.R
FigPerformlasso.param=lasso

### This is not truely part of the pipeline.
### This module creates a pdf comparing the finalized figures from
### the repository with the newly-generated versions.
#
#BioModule biolockj.module.diy.Rmarkdown AS MainFigures
FF = ../assembledFigures
Final = ${FF}/Figure1.pdf, ${FF}/Figure2.pdf, ${FF}/Figure3.pdf, ${FF}/Figure4.pdf, ${FF}/Figure5.pdf, ${FF}/Table1.pdf
Legends = ${FF}/Figure1-legend.md, ${FF}/Figure2-legend.md, ${FF}/Figure3-legend.md, ${FF}/Figure4-legend.md, ${FF}/Figure5-legend.md, ${FF}/Table1-legend.md
Fig1 = ../output/Genus_BoxPlotCorrelations.pdf, ../output/Genus_coefficientsFromScatterPlots.pdf, ../output/Genus_PCO.pdf, ../output/Genus_scatterPlotsPaper.pdf
Fig2 = ../output/Genus_HeatmapAndCluster.pdf
Fig3 = ../output/Species_mainFigure3ab.pdf, ../output/Pathway_mainFigure3de.pdf, ../output/Species_coefficientsFromScatterPlots_MetagenomicsBSAndPalleja.pdf, ../output/Pathway_coefficientsFromScatterPlots_MetagenomicsBSAndPalleja.pdf
Fig4 = ../output/lasso/loso_performance_lasso.pdf, ../output/lasso/performance_heatmap_lasso.pdf
Fig5 = ../output/OportunisticPathogens.pdf
MainFigures.rmarkdown = ./RScripts/R_markdown/MainFigures.Rmd
MainFigures.resources= ${Final}, ${Legends}, ${Fig1}, ${Fig2}, ${Fig3}, ${Fig4}, ${Fig5} 

##### To see result of training random forest, uncomment these modules
##### Training takes ~8 hours using docker on a macbook pro

#####BioModule biolockj.module.diy.GenMod AS TrainModelrandomForest
TrainModelrandomForest.scriptPath=./RScripts/train_model.R
TrainModelrandomForest.param=randomForest

#####BioModule biolockj.module.diy.GenMod AS FigPerformrandomForest
FigPerformrandomForest.scriptPath=./RScripts/Figure_performance.R
FigPerformrandomForest.param=randomForest

#BioModule biolockj.module.diy.Rmarkdown AS SupplementalFigures
SupplementalFigures.rmarkdown = ./RScripts/R_markdown/SuppFig.Rmd
SupplementalFigures.resources = ../output/Diversity.pdf, ../output/SV_BS_Assal.pdf, ../output/randomForest/performance_heatmap_randomForest.pdf, ../output/randomForest/loso_performance_randomForest.pdf
